
//default
$btn-border-radius: $border-radius-md !default;
$btn-border: $border-md solid rgba(0, 0, 0, 0.12) !default;
$btn-color-background: $color-gray;
$btn-content: $content-md !default;
$btn-padding: $padding-md $padding-xl !default;

//primary
$btn-border-primary: $border-md solid $color-primary !default;

//secondary
$btn-border-secondary: $border-md solid $color-secondary !default;

//success
$btn-border-success: $border-md solid $color-success !default;

//danger
$btn-border-danger: $border-md solid $color-danger !default;

//info
$btn-border-info: $border-md solid $color-info !default;

//warning
$btn-border-warning: $border-md solid $color-warning !default;
