@import './functions.scss';
@import './variables.scss';


//default
.n-btn {
  outline: none;
  font-size: $btn-content;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  background: $color-gray;
  color: $color-black;
  margin-right: $margin-xxs;
  margin-bottom: $margin-xxs;
  cursor: pointer;
  &:focus {
    opacity: 0.8;
  }
}
.n-btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.n-btn {
  @include button($color-gray, $color-gray-light, $btn-border, $color-black, $color-gray-dark, $color-black);
}

.n-btn-success {
  @include button($color-success, lighten($color-success, 45%), $btn-border-success, $color-font-primary);
}

.n-btn-danger {
  @include button($color-danger, lighten($color-danger, 45%), $btn-border-danger, $color-font-primary);
}

.n-btn-info {
  @include button($color-info, lighten($color-info, 45%), $btn-border-info, $color-font-primary);
}

.n-btn-warning {
  @include button($color-warning, lighten($color-warning, 45%), $btn-border-warning, $color-font-primary);
}

.n-btn-primary{
  @include button($color-primary, lighten($color-primary, 45%), $btn-border-primary, $color-font-primary );
}

.n-btn-secondary {
  @include button($color-secondary,  lighten($color-secondary, 30%),$btn-border-secondary, $color-font-secondary);
}
