//--- named colors
//pure color
$color-gray: #e0e1e2 !default;
$color-gray-light: #f5f5f5 !default;
$color-gray-dark: #bbb !default;
$color-white: #fff !default;
$color-black: #000 !default;
$color-blackish: #2a2a2a !default;
//primary-secondary
$color-primary: #1976d2 !default;
$color-secondary: #7C4DFF !default;
$color-accent: #f2711b !default;
//intents
$color-info: #03AFFF !default;
$color-warning: #FF9800 !default;
$color-danger: #D32F2F !default;
$color-success: #4CAF50 !default;
//dark-light
$color-primary-dark: darken($color-primary, 15%);
$color-secondary-dark: darken($color-secondary, 15%);
$color-accent-dark: darken($color-accent, 15%);
$color-success-dark : darken($color-success, 15%);
$color-primary-light: lighten($color-primary, 15%);
$color-secondary-light: lighten($color-secondary, 15%);
$color-accent-light: lighten($color-accent, 15%);
$color-success-light : darken($color-success, 15%);
//font-color
$color-font-primary-dark: #000; //choose-font-color($color-primary-dark) !default;
$color-font-primary: #fff; //choose-font-color($color-primary) !default;
$color-font-primary-light: #fff; //choose-font-color($color-primary-light) !default;
$color-font-secondary-dark: #000; //choose-font-color($color-secondary-dark) !default;
$color-font-secondary: #fff; //choose-font-color($color-secondary) !default;
$color-font-secondary-light: #fff; //choose-font-color($color-secondary-light) !default;
$color-font-accent-dark: choose-font-color($color-accent-dark) !default;
$color-font-accent: choose-font-color($color-accent) !default;
$color-font-accent-light: choose-font-color($color-accent-light) !default;