//border-radius
$border-radius-md: 0.2rem !default;
$border-radius-lg: 0.3rem !default;

//border
$border-md: 0.08rem !default;
$border-lg: 0.1rem !default;

//content
$content-md: 0.8rem !default;

//margin
$margin-xxs: 0.1rem !default;
$margin-xxs: 0.2rem !default;
$margin-xs: 0.6rem !default;
$margin-sm: 0.8rem !default;
$margin-md: 1rem !default;
$margin-lg: 1.2rem !default;

//padding
$padding-xxs: 0.1rem !default;
$padding-xs: 0.2rem !default;
$padding-sm: 0.4rem !default;
$padding-md: 0.6rem !default;
$padding-lg: 0.8rem !default;
$padding-xl: 1rem !default;
$padding-xxl: 1.6rem !default;
$padding-xxxl: 1.8rem !default;


//letter-spacing
$letter-spacing-md: 0.04rem !default;

//opacity
$opacity-md: 0.8 !default;
$opacity-lg: 0.4 !default;
