$border-radius-md: 0.2rem !default;

$border-md: 0.08rem !default;

$content-md: 0.8rem !default;

$margin-md: 1rem !default;

$padding-xxs: 0.1rem !default;
$padding-xs: 0.2rem !default;
$padding-sm: 0.4rem !default;
$padding-md: 0.6rem !default;
$padding-lg: 0.8rem !default;
$padding-xl: 1rem !default;
$padding-xxl: 1.2rem !default;
