@function choose-font-color($color, $dark: #000, $light: #FFF) {
  // return $dark or $light color depending on lightness of $color
  @return if(lightness($color) > 50, $dark, $light);
}


@mixin ripple($background, $ripple)  {
  background-position: center;
  transition: background 0.8s;

  &:not(:disabled):hover {
    background: $background radial-gradient(circle, transparent 1%, $background 1%) center/15000%;
  }

  &:not(:disabled):active {
    background-color: $ripple;
    background-size: 100%;
    transition: background 0s;
  }

}
