
$entry-border-radius: $border-radius-lg !default;
$entry-border: $border-md solid $color-gray-dark !default;
$entry-icon-spacing : $padding-md;
$entry-padding: $padding-sm;
$entry-width: 100% !default;

$label-padding: 0 $padding-sm 0 0;
