$entry-width: 100% !default;

$entry-border-radius: $border-radius-md !default;

$entry-border: $border-md solid $color-gray-dark !default;

$entry-padding: $padding-sm $padding-md;

$label-padding: 0 $padding-sm 0 0;


